.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.none {
    display: none;
}

@media (max-width: 767px) {
    .xs-block{
        display: block;
    }
    .xs-none{
        display: none;
    }
}