@font-face {
	font-family: 'Poppins-Black';
	src: url('../fonts/Poppins-Black.ttf') format('truetype')
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bolc.ttf') format('truetype')
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'Poppins-ExtraLight';
	src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype')
}

* {
	font-family: "Poppins";
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
	line-height: 5rem;
}
h3 {
	font-size: 2.2rem;
	line-height: 3.5rem;
}

h4 {
	font-size: 1.4rem;
	line-height: 2.7rem;
}

h5 {
	font-size: 1.25rem;
}

h6, .small-font {
	font-size: 0.85rem;
}

p {
	font-size: 1rem;
	line-height: 2rem;
}

small {
	font-size: .7rem;
	line-height: 1.8rem;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a.active{
	color: #f7ca18;
}
.black{
	font-family: "Poppins-Black";
}

.bold, b{
	font-family: "Poppins-Bold";
}

.regular{
	font-family: "Poppins";
}

.extra-light{
	font-family: "Poppins-ExtraLight";
}

.uppercase{
	text-transform: uppercase;
}