@import "reset.css";
@import "fonts.css";
@import "grid.css";
@import "text.css";
@import "padding.css";
@import "margin.css";
@import "colors.css";
@import "display.css";

body {
    font-size: 13px;
    text-align: left;
    background: #f5f5f5;
    color: rgb(75, 75, 75);
    letter-spacing: 0.025rem;
}

header{
    padding: 10px 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid rgb(220, 220, 220);
}

footer{
    padding: 50px;
    width: 100%;
    background: rgb(235, 235, 235);
}


hr{
    background:rgb(220, 220, 220);
    border: none;
    height: 1px;
    display: block;
}

section{
    min-height: 420px;
    padding: 12rem 50px;
}

.section-title{
    padding: 50px;
    background: rgb(235, 235, 235);
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.5s ease;
}

.card:hover .card-image {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.pointer{
    cursor: pointer;
}

input, textarea{
    width: 100%;
    padding: .75rem;
    background: transparent;
    border: 1px solid rgb(220, 220, 220);
    background: rgb(235, 235, 235);
}

button {
    background: rgb(75, 75, 75);
    color: #f5f5f5;
    padding: .75rem;
    font-family: 'Poppins-Bold';
    border: none;
}
button.block{
    width: 100%;
}