@import "reset.css";
@import "fonts.css";
@import "grid.css";
@import "columns.css";
@import "text.css";
@import "padding.css";
@import "margin.css";
@import "colors.css";
@import "display.css";

*{
    transition: all 0.25s ease-in-out;
}

:root {
  --blur: 0px;
  --scale: 1;
}

body {
    font-size: 13px;
    text-align: left;
    background: #f5f5f5;
    color: rgb(75, 75, 75);
    letter-spacing: 0.025rem;
}

header{
    padding: 10px 50px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid rgb(220, 220, 220);
}

footer{
    padding: 50px;
    width: 100%;
    background: rgb(235, 235, 235);
    z-index: 2;
    position: relative;
}


hr{
    background:rgb(220, 220, 220);
    border: none;
    height: 1px;
    display: block;
}


section{
    padding: 5rem 50px;
    position: relative;
    z-index: 1;
    background: #f5f5f5;
}

section.hero{
    min-height: 420px;
    padding: 12rem 50px;
    z-index: 0;
    position: sticky;
    top: 0;
}

.background-cover{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-size: "cover";
    background-position: "bottom";
    background-repeat: "no-repeat";
}

#fixed{
    filter: blur(var(--blur));
    transform: scale(var(--scale));
    transform-origin: center;
    transition: filter 0.05s linear, transform 0.05s linear;
}

.section-title{
    padding: 50px;
    background: rgb(235, 235, 235);
    z-index: 1;
    position: relative;
}

.card.reveal{
    opacity: 0;
    transform: translateY(40px) scale(0.96);
    transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.card.is-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card:hover .card-image {
    filter: grayscale(0%);
}

.pointer{
    cursor: pointer;
}

input, textarea{
    width: 100%;
    padding: .75rem;
    background: transparent;
    border: 1px solid rgb(220, 220, 220);
    background: rgb(235, 235, 235);
}

button, .button {
    background: rgb(75, 75, 75);
    color: #f5f5f5;
    padding: .75rem;
    font-family: 'Poppins-Bold';
    border: none;
}
button.block{
    width: 100%;
}